{% extends 'base.html' %}
{% block content %}
<h2>Your Projects</h2>

<a href="{% url 'create_project' %}">+ New Project</a>


<ul>
    {% for project in projects %}
        <li>
             {{ project.name }} — {{ project.platform }} — {{ project.created_at }}

    <!-- Add this action link -->
    <a href="{% url 'generate_analysis' project.id %}">
        Generate Secure Analysis
    </a>
    
    <a href="{% url 'analysis_history' project.id %}" class="btn btn-info mt-2">
        View Analysis History
    </a>

    {% if project.analyses.last %}
    {% with analysis=project.analyses.last %}
        {% if analysis.risk_category == "High Risk" %}
            <span class="badge bg-danger">High Risk — {{ analysis.security_score }}</span>
        {% elif analysis.risk_category == "Medium Risk" %}
            <span class="badge bg-warning text-dark">Medium Risk — {{ analysis.security_score }}</span>
        {% else %}
            <span class="badge bg-success">Low Risk — {{ analysis.security_score }}</span>
        {% endif %}
    {% endwith %}
    {% endif %}
        </li>
    {% empty %}
        <p>No projects yet.</p>
    {% endfor %}
</ul>
{% endblock %}
