{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">{{ project.name }} — Security Analysis Report</h2>

    {% if analysis.risk_category == "High Risk" %}
    <span class="badge bg-danger">High Risk — {{ analysis.security_score }}</span>
    {% elif analysis.risk_category == "Medium Risk" %}
    <span class="badge bg-warning text-dark">Medium Risk — {{ analysis.security_score }}</span>
    {% else %}
    <span class="badge bg-success">Low Risk — {{ analysis.security_score }}</span>
    {% endif %}


    <div class="card mb-3">
        <div class="card-header"><strong>System Architecture</strong></div>
        <div class="card-body">
            <pre style="white-space: pre-wrap;">{{ analysis.architecture }}</pre>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header"><strong>Threat Model (STRIDE + OWASP)</strong></div>
        <div class="card-body">
            <pre style="white-space: pre-wrap;">{{ analysis.threat_model }}</pre>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header"><strong>Secure SDLC Recommendations</strong></div>
        <div class="card-body">
            <pre style="white-space: pre-wrap;">{{ analysis.sdls_recommendations }}</pre>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header"><strong>Cost Estimation Guidance</strong></div>
        <div class="card-body">
            <pre style="white-space: pre-wrap;">{{ analysis.cost_estimation }}</pre>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header"><strong>Security Testing Plan</strong></div>
        <div class="card-body">
            <pre style="white-space: pre-wrap;">{{ analysis.testing_plan }}</pre>
        </div>
    </div>

    <a href="{% url 'analysis_history' project.id %}" class="btn btn-info mt-2">
        View Analysis History
    </a>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-2">
        Back to Dashboard
    </a>

    <a href="{% url 'download_analysis_pdf' analysis.id %}" class="btn btn-success mt-2">
    Download PDF Report
</a>

</div>
{% endblock %}



